<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <connectionStrings>
    <add name="connectionString" connectionString="server=posrednik.czgecepfvj6q.eu-central-1.rds.amazonaws.com;user id=admin;database=posrednik_nieruchomosci;persistsecurityinfo=True"/>

  </connectionStrings>
  
  <appSettings>
    <add key="provider" value="Mysql.Data.MysqlClient" />

  </appSettings>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>